*{ padding:0; margin:0; }
html{ min-height:100%;}
body{background:#ccc;font-family:Helvetica;font-size:12px;}

.left{float:left;}
.right{float:right;}
header,article,footer,aside{display:block;}
/* ============ */
/* = CLEARFIX = */
/* ============ */

.clearfix:after{ content: "."; display: block; clear: both;	visibility: hidden;	line-height: 0;	height: 0;}
.clearfix {	display: inline-block;}
html[xmlns] .clearfix { display: block;}
* html .clearfix { height: 1%;}

/* ============ */
/* =  LAYOUT  = */
/* ============ */

.container{margin:0 auto;width:960px;background:#fff;}
header{text-align:center;height:65px;padding-top:20px;}
article{}
footer{font-size:12px;text-align:center;margin-top:20px;padding:20px 0; border-top:1px solid #ccc;}
aside{}

.sidebar{width:290px; margin-left:10px;}
.map{width:640px;background:#ddd;margin-left:10px;}


/* ======== */
/* = TABS = */
/* ======== */

ul.tabs { margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}
ul.tabs li a:hover {
	background: #ccc;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}

.tab_container {
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #fff;
}
.tab_content {
	padding: 20px;
	font-size: 1.2em;
}